
  
svg {
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .time {
        margin: 50px;
    }
}